name: Release Chart

on:
  push:
    branches: [main]
    paths:
      - "chart/**" # Watches for any changes in the chart folder

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to create GitHub Releases
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run Chart Releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: . # Point to the directory containing your 'chart' folder
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
